body{
	font-size: 16px;
	font-family: arial;

}
header figure img {
      
	  margin-left: 1em;
	}
	form img {
		width: 100%;
		
		margin-bottom: 1em;
	}
#formulario {
	display: block;
	margin: auto;
	width: 20%;
	background: #f7f7f7;
	padding: 50px 40px;

}
#usuario{
	margin-bottom: 0.25
	em;
}
#clave{
	margin-top: 0.5em;
}
form input{
	font-size: 16px;
	width: 100%;
	/*display: block;*/
	/*margin:auto;*/
	height: 34px;
	border: 1px solid #d9d9d9;
	
}

#confirmar {
	/*display: block;*/
	/*margin:auto;*/
	margin-top: 0.5em;
	background-color: #4d90fe;
	border: 1px solid #3078ed;
	color: white;
	font-size: 16px; 	
}
form a  {
	margin-top: 1em;
    font-size: 16px;
    /*display: block;*/
    color: blue;
    }